{%extends "base.jinja"%}
{% block content %}
    <h1>Verify your email</h1>
    <p>Follow this link (or copy and paste it into your browser) to verify your email: <a href="{{verify_email_url}}">{{verify_email_url}}</a></p>
{% endblock content %}