{%extends "base.jinja"%}
{%block content%}
    <h1>Verify your email</h1>
    <p>Follow (or copy and paste into your browser) the following link: <a href="{{reset_link}}">{{reset_link}}</a></p>
{%endblock content%}