{%extends "base.jinja"%}
{%block content%}
<h1>Reset your password</h1>
<form name="pwreset" action="{{password_reset_submit}}" method="POST">
    <input name="password" type="password"/>
    <input name="password2" type="password"/>
    <input type="submit" value="submit"/>
</form>
{%endblock content%}